
.pizza-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 50px;
    border: 5px #fff2cc solid;
    margin: 5px;
    
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    background-color: white;
    text-align: center;
    margin-bottom: 10px;

    img{
      border-radius: 10px;
    }
  }

  h2{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    font-size: x-large;
    font-weight: 500;
  }

  .price-btn{
    border: 1px solid #ddd;
  }

  span{
    font-size: smaller;
  }

  .ingredients{
    border: 1px solid #ddd;
    padding-top: 10px;

   ul{
      list-style: none;
    }
  }

  
.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn1{
    color: black;
    background-color: white;
    border: 1px solid black;
  }
  
  .price{
    font-size: x-large;
    font-weight: 600;
  }

  .pizza-container-cart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 20px;
    border: 5px #fff2cc solid;
    margin: 10px;
  }

  .card-cart{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    background-color: white;
    text-align: center;
    margin-bottom: 10px;

    img{
      border-radius: 10px;
      width: 250px;
    }
  }

  .cart-tittle{
    display: flex;
    justify-content: center;
  }

  .cart-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
